<!--<section class="article">-->
<!--    <div class="container">-->
<!--        <div class="article__wrapper">-->
<!--            <div class="article__head-block">-->
<!--                <div class="article__title-block">-->
<!--                    <h3 class="article__title">Подзаголовок H3 любой длины</h3>-->
<!--                    @@include('../date/date.html', {"date-text":"01.12.2024",})-->
<!--                </div>-->
<!--                <div class="article__pic" style="background-image: url('./img/article/bg.webp')"></div>-->
<!--                <div class="article__head-bold">Любой подержанный автомобиль, как бы привлекательно он не выглядел-->
<!--                    внешне, должен подвергаться тщательной проверке. Это позволит в будущем при эксплуатации-->
<!--                    избежать всевозможных проблем. Поэтому разберем основные этапы.-->
<!--                </div>-->
<!--                <div class="article__head-regular">Настоящее Соглашение является публичной офертой в соответствии со-->
<!--                    ст. 435 Гражданского Кодекса РФ. Действия Пользователя по отправке запроса на получение-->
<!--                    информации об Автомобиле с помощью специальной формы на Сервисе считаются акцептом оферты-->
<!--                    согласно ст. 438 Гражданского Кодекса РФ и означают безоговорочное принятие Пользователем всех-->
<!--                    условий данного Соглашения без каких-либо изъятий или ограничений на условиях присоединения-->
<!--                    (акцептом оферты).-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="article__text">-->
<!--                <strong>1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</strong>-->
<!--                <p>1.1. Программное обеспечение или ПО – программа для ЭВМ, представляющая из себя алгоритмы и базы-->
<!--                    данных для ЭВМ, обеспечивающая обработку Данных, и может содержать графическую, текстовую, аудио,-->
<!--                    видео, а также иную информацию, записанную и читаемую с помощью ЭВМ и которая предназначена для-->
<!--                    автоматизированной обработки и получения Данных по Запросам Пользователя. </p>-->

<!--                <p>Программное обеспечение по своим функциональным характеристикам и свойствам представляет из себя-->
<!--                    систему, осуществляющую автоматическое агрегирование в Отчет общедоступной информации (Данных),-->
<!--                    созданной и размещенной в сети «Интернет» третьими лицами. Информация в открытом доступе в сети-->
<!--                    «Интернет» размещается и распространяется иными лицами самостоятельно независимо от Администрации-->
<!--                    Сервиса.</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="article">
    <div class="container">
        <div class="article__wrapper">
            <div class="article__head-block">
                <div class="article__title-block">
                    <h3 class="article__title"></h3>
                </div>
            </div>
            <div class="article__text">

                <div id="return">
                    <p>Ваш логин: <b>test1@proba.com</b></p>
                    <p>Ваш пароль: <b>UNN9WR</b></p>
                    <p class="link">
                        <a href="#">Я запомнил мои данные!</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>