<form action="" class="schedule-form">
    <div class="schedule-form__input-wrapper">
        <div class="schedule-form__input-label">Откуда</div>
        <div class="schedule-form__input"></div>
    </div>
    <div class="schedule-form__input-wrapper">
        <div class="schedule-form__input-label">Куда</div>
        <div class="schedule-form__input"></div>
    </div>
    <div class="schedule-form__input-wrapper">
        <div class="schedule-form__input-label">Дата</div>
        <div class="schedule-form__input"></div>
    </div>
    <button type="submit" class="schedule-form__button">Найти расписание</button>
</form>