<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__title-block">
                <div class="footer__logo --svg__logo"></div>
                <div class="footer__title">Аналитические отчеты по большому спектру вопросов</div>
            </div>
            <div class="footer__links-wrapper">
                <div class="footer__links-title">Клиентам</div>
                <div class="footer__links">
                    <div class="footer__links-block">
                        <a href="#" class="footer__link">Тарифы</a>
                        <a href="#" class="footer__link">Блог</a>
                        <a href="#" class="footer__link">Контакты</a>
                    </div>
                    <div class="footer__links-block">
                        <a href="#" class="footer__link">Соглашение</a>
                        <a href="#" class="footer__link">Политика конфиденциальности</a>
                        <a href="#" class="footer__link">Обработка персональных данных</a>
                    </div>
                </div>
            </div>
            <div class="footer__details">
                <div class="footer__company">ООО "ИНТЕРНЕТВЕБ" <br>
                    ИНН 3666265083, ОГРН 1223600017167
                </div>
                <div class="footer__paysystems">
                    <div class="footer__paysystem --svg__mir"></div>
                    <div class="footer__paysystem --svg__visa"></div>
                    <div class="footer__paysystem --svg__mastercard"></div>
                    <div class="footer__paysystem --svg__sbp"></div>
                </div>
                <div class="footer__copyright">© 2025. Все права защищены. <br> Информация на сайте не является публичной
                    офертой
                </div>
            </div>
            <div class="footer__cookie-policy">Сайт применяет технологию cookie. Продолжая навигацию по сайту, вы
                соглашаетесь с использованием cookie.
            </div>
        </div>
    </div>
</footer>
