<div class="report-flash-point report-flash-point-@@class">
  <div class="report-flash-point__svg-wrapper">
    <svg>
      <use xlink:href="./img/sprite.svg#@@svgId"></use>
    </svg>
  </div>
    <div class="report-flash-point__text">@@text</div>
</div>


<!--@@include('../report-flash-point/report-flash-point.html', {-->
<!--"class":"default",-->
<!--"svgId":"css&#45;&#45;approve-icon",-->
<!--"text":"Общий срок эксплуатации: 12 лет",-->
<!--})-->

<!--@@include('../report-flash-point/report-flash-point.html', {-->
<!--"class":"info",-->
<!--"svgId":"css&#45;&#45;info-icon",-->
<!--"text":"Общий срок эксплуатации: 12 лет",-->
<!--})-->

<!--@@include('../report-flash-point/report-flash-point.html', {-->
<!--"class":"blue",-->
<!--"svgId":"css&#45;&#45;info-icon",-->
<!--"text":"Общий срок эксплуатации: 12 лет",-->
<!--})-->

<!--@@include('../report-flash-point/report-flash-point.html', {-->
<!--"class":"red",-->
<!--"svgId":"css&#45;&#45;info-icon",-->
<!--"text":"Общий срок эксплуатации: 12 лет",-->
<!--})-->