<section class="report-pledges report-section report-section-grey">
    <div class="container">
        <div class="report-pledges__title report-title">Реестр залогов</div>
        <div class="report-pledges__items report-grid">
            <div class="report-pledges__item">
                <div class="report-point">Дата регистрации:</div>
                <div class="report-text">10.01.2025 г.</div>
            </div>
            <div class="report-pledges__item">
                <div class="report-point">Тип записи:</div>
                <div class="report-text">Возникновение</div>
            </div>
            <div class="report-pledges__item">
                <div class="report-point">Номер записи:</div>
                <div class="report-text">2025-010-807884-594</div>
            </div>
            <div class="report-pledges__item">
                <div class="report-point">Статус:</div>
                <div class="report-text">В залоге</div>
            </div>
            <div class="report-pledges__item">
                <div class="report-point">Дата исключения:</div>
                <div class="report-text">По настоящее время</div>
            </div>
            <div class="report-pledges__item">
                <div class="report-point">Залогодатель:</div>
              <ol>
                <li class="report-text">Физическое лицо</li>
                <li class="report-text">Физическое лицо</li>
              </ol>
            </div>
            <div class="report-pledges__item">
                <div class="report-point">Залогодержатель:</div>
              <ol>
                <li class="report-text">Физическое лицо</li>
                <li class="report-text">Физическое лицо</li>
              </ol>
            </div>
        </div>
    </div>
</section>