<section class="report-mileage report-section report-section-grey">
    <div class="container">
        <div class="report-mileage__title report-title">История пробегов</div>
        <div class="report-mileage__graph"></div>
        <div class="report-mileage__table">
            <table>
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Пробег</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>07.11.2025 г.</td>
                    <td>187305 км</td>
                </tr>
                <tr>
                    <td>07.11.2025 г.</td>
                    <td>187305 км</td>
                </tr>
                <tr>
                    <td>07.11.2025 г.</td>
                    <td>187305 км</td>
                </tr>
                <tr>
                    <td>07.11.2025 г.</td>
                    <td>187305 км</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>