<section class="report-review">
    <div class="container">
        <div class="report-review__head">
            <div class="report-review__mark" style="background-image: url('./img/mark.png')"></div>
            <div class="report-review__title-block">
                <div class="report-title">ЧЕРИ T11 TIGGO</div>
                <div class="report-subtitle">Отчёт сформирован: <br class="--mobile-only"> 04.12.2025г. - 08:29</div>
            </div>
        </div>
        <div class="report-review__items report-grid">
            <div class="report-review__item">
                <div class="report-point">Госномер</div>
                <div class="report-text">М219ОТ136</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">VIN-код:</div>
                <div class="report-text">LVVDB11BXDD183087</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Номер кузова:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Год</div>
                <div class="report-text">2013</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Цвет</div>
                <div class="report-text">Белый</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Руль</div>
                <div class="report-text">Левый</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">ПТС</div>
                <div class="report-text">77УХ920240</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Дубликат ПТС</div>
                <div class="report-text">Выдавался</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Тип ПТС:</div>
                <div class="report-text">Бумажный</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Номер двигателя:</div>
                <div class="report-text">AADE04167</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Тип двигателя:</div>
                <div class="report-text">Бензиновый</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Модель двигателя:</div>
                <div class="report-text">SQRE4G16</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Объём:</div>
                <div class="report-text">1598 см³</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Мощность:</div>
                <div class="report-text">127 л. с. / 93 кВт.</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Шасси:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Тип автомобиля:</div>
                <div class="report-text">Легковые автомобили прочие</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Категория:</div>
                <div class="report-text">B</div>
            </div>
            <div class="report-review__item">
                <div class="report-point">Рыночная стоимость:</div>
                <div class="report-text">262123 — 667040 руб.</div>
            </div>
        </div>
    </div>
</section>
