<!--<section class="order-form">-->
<!--    <div class="container">-->
<!--        <div class="order-form__wrapper">-->
<!--            <div class="title"><span>Введите данные</span> автомобиля</div>-->
<!--            <form action="" class="order-form__form">-->
<!--&lt;!&ndash;                <div class="order-form__number-type &#45;&#45;svg__form_angle-before active"&ndash;&gt;-->
<!--&lt;!&ndash;                     data-placeholder="Укажите гос-номер">Гос-номер&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <label data-placeholder="Укажите гос-номер"&ndash;&gt;-->
<!--&lt;!&ndash;                       class="order-form__number-type  active">&ndash;&gt;-->
<!--&lt;!&ndash;                    Гос-номер&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="radio" class="hide" name="CheckAutoForm[type]" value="0" checked="" autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;                </label>&ndash;&gt;-->

<!--&lt;!&ndash;                <label class="order-form__number-type " data-placeholder="Укажите VIN код">&ndash;&gt;-->
<!--&lt;!&ndash;                    VIN&ndash;&gt;-->
<!--&lt;!&ndash;                    код&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="radio" class="hide" name="CheckAutoForm[type]" value="0" checked="" autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;                </label>&ndash;&gt;-->
<!--&lt;!&ndash;                <label class="order-form__number-type " data-placeholder="Укажите номер кузова">&ndash;&gt;-->
<!--&lt;!&ndash;                    Номер кузова&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="radio" class="hide" name="CheckAutoForm[type]" value="0" autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;                </label>&ndash;&gt;-->
<!--                <div class="order-form__inputs">-->
<!--                    <input type="text" name="" id="" class="order-form__input" placeholder="Укажите ГОС-номер">-->
<!--                    <input type="text" name="" id="" class="order-form__input" placeholder="Укажите ГОС-номер">-->
<!--                    <input type="text" name="" id="" class="order-form__input" placeholder="Укажите ГОС-номер">-->
<!--                </div>-->
<!--                <button class="order-form__button">Проверить</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="order-form" id="bailiffs">-->
<!--    <div class="container">-->
<!--        <div class="order-form__wrapper">-->
<!--            <div class="title"><span>Введите данные</span> ФССП</div>-->

<!--            <form id="w0" class="order-form__form" action="/dash/create" method="post">-->
<!--                <input type="hidden" name="_csrf" value="TQSBRgMKyt13FrNVntyB5aVTOJfAS14n-XQLksK4194YT9QzQDqPjSF7wzHdiKyd62NO3bJ4NnehNX_bneGZmA==">            <input type="hidden" id="checkpeopleform-type" name="CheckPeopleForm[type]" value="1">-->
<!--                <div class="order-form__inputs order-form__3inputs">-->
<!--                    <input type="text" id="checkpeopleform-query" class="order-form__input order-form__query" name="CheckPeopleForm[query]" value="" placeholder="Введите ФИО">-->
<!--                    <input type="date" id="checkpeopleform-birthdate" class="order-form__input order-form__query" name="CheckPeopleForm[birthdate]" placeholder="Введите дату рождения">-->
<!--                    <select id="checkpeopleform-region" class="order-form__input order-form__query" name="CheckPeopleForm[region]" placeholder="Введите регион">-->
<!--                        <option value="-1">Все регионы</option>-->
<!--                        <option value="01">Республика Адыгея</option>-->
<!--                        <option value="02">Республика Башкортостан</option>-->
<!--                        <option value="03">Республика Бурятия</option>-->
<!--                        <option value="04">Республика Алтай</option>-->
<!--                        <option value="05">Республика Дагестан</option>-->
<!--                        <option value="06">Республика Ингушетия</option>-->
<!--                        <option value="07">Кабардино-Балкария</option>-->
<!--                        <option value="08">Республика Калмыкия</option>-->
<!--                        <option value="09">Карачаево-Черкесия</option>-->
<!--                        <option value="10">Республика Карелия</option>-->
<!--                        <option value="11">Республика Коми</option>-->
<!--                        <option value="12">Республика Марий Эл</option>-->
<!--                        <option value="13">Республика Мордовия</option>-->
<!--                        <option value="14">Республика Саха (Якутия)</option>-->
<!--                        <option value="15">Северная Осетия-Алания</option>-->
<!--                        <option value="16">Республика Татарстан</option>-->
<!--                        <option value="17">Республика Тыва</option>-->
<!--                        <option value="18">Удмуртская Республика</option>-->
<!--                        <option value="19">Республика Хакасия</option>-->
<!--                        <option value="20">Чеченская Республика</option>-->
<!--                        <option value="21">Чувашская Республика - Чувашия</option>-->
<!--                        <option value="22">Алтайский край</option>-->
<!--                        <option value="23">Краснодарский край</option>-->
<!--                        <option value="24">Красноярский край</option>-->
<!--                        <option value="25">Приморский край</option>-->
<!--                        <option value="26">Ставропольский край</option>-->
<!--                        <option value="27">Хабаровский край и Еврейская автономная область</option>-->
<!--                        <option value="28">Амурская область</option>-->
<!--                        <option value="29">Архангельская область и Ненецкий автономный округ</option>-->
<!--                        <option value="30">Астраханская область</option>-->
<!--                        <option value="31">Белгородская область</option>-->
<!--                        <option value="32">Брянская область</option>-->
<!--                        <option value="33">Владимирская область</option>-->
<!--                        <option value="34">Волгоградская область</option>-->
<!--                        <option value="35">Вологодская область</option>-->
<!--                        <option value="36">Воронежская область</option>-->
<!--                        <option value="37">Ивановская область</option>-->
<!--                        <option value="38">Иркутская область</option>-->
<!--                        <option value="39">Калининградская область</option>-->
<!--                        <option value="40">Калужская область</option>-->
<!--                        <option value="41">Камчатский край и Чукотский автономный округ</option>-->
<!--                        <option value="42">Кемеровская область - Кузбасс</option>-->
<!--                        <option value="43">Кировская область</option>-->
<!--                        <option value="44">Костромская область</option>-->
<!--                        <option value="45">Курганская область</option>-->
<!--                        <option value="46">Курская область</option>-->
<!--                        <option value="47">Ленинградская область</option>-->
<!--                        <option value="48">Липецкая область</option>-->
<!--                        <option value="49">Магаданская область</option>-->
<!--                        <option value="50">Московская область</option>-->
<!--                        <option value="51">Мурманская область</option>-->
<!--                        <option value="52">Нижегородская область</option>-->
<!--                        <option value="53">Новгородская область</option>-->
<!--                        <option value="54">Новосибирская область</option>-->
<!--                        <option value="55">Омская область</option>-->
<!--                        <option value="56">Оренбургская область</option>-->
<!--                        <option value="57">Орловская область</option>-->
<!--                        <option value="58">Пензенская область</option>-->
<!--                        <option value="59">Пермский край</option>-->
<!--                        <option value="60">Псковская область</option>-->
<!--                        <option value="61">Ростовская область</option>-->
<!--                        <option value="62">Рязанская область</option>-->
<!--                        <option value="63">Самарская область</option>-->
<!--                        <option value="64">Саратовская область</option>-->
<!--                        <option value="65">Сахалинская область</option>-->
<!--                        <option value="66">Свердловская область</option>-->
<!--                        <option value="67">Смоленская область</option>-->
<!--                        <option value="68">Тамбовская область</option>-->
<!--                        <option value="69">Тверская область</option>-->
<!--                        <option value="70">Томская область</option>-->
<!--                        <option value="71">Тульская область</option>-->
<!--                        <option value="72">Тюменская область</option>-->
<!--                        <option value="73">Ульяновская область</option>-->
<!--                        <option value="74">Челябинская область</option>-->
<!--                        <option value="75">Забайкальский край</option>-->
<!--                        <option value="76">Ярославская область</option>-->
<!--                        <option value="77">Москва</option>-->
<!--                        <option value="78">Санкт-Петербург</option>-->
<!--                        <option value="80">Донецкая Народная Республика</option>-->
<!--                        <option value="81">Луганская Народная Республика</option>-->
<!--                        <option value="86">Ханты-Мансийский АО</option>-->
<!--                        <option value="89">Ямало-Ненецкий АО</option>-->
<!--                        <option value="82">Республика Крым</option>-->
<!--                        <option value="92">Севастополь</option>-->
<!--                        <option value="98">Главное межрегиональное (специализированное) управление</option>-->
<!--                        <option value="99001">Отдел по исполнению особо важных исполнительных производств</option>-->
<!--                        <option value="99003">Федеральная территория «Сириус»</option>-->
<!--                    </select>            </div>-->
<!--                &lt;!&ndash;-->
<!--                            &ndash;&gt;-->
<!--                <button type="submit" class="order-form__button">Проверить</button>-->
<!--            </form>        </div>-->
<!--    </div>-->
<!--</section>-->


<section class="order-form" id="auto-form">
    <div class="container">
        <div class="order-form__wrapper">
            <div class="title"><span>Введите данные</span> автомобиля</div>
            <form id="w3" class="order-form__form" action="/dash/create" method="post">
                <input type="hidden" name="_csrf" value="8GgyBK_jn-A4GuXbgLMAvIuKznZZmZDquL-MOIEKY9KyHmhV2qbahWtohpjT9jnP59y_AR7W2oXdxvVXyHw8iA==">            <label data-placeholder="Укажите гос-номер" class="order-form__number-type --svg__form_angle-before active">
                Гос-номер
                <input type="radio" class="hide" name="CheckAutoForm[type]" value="0" checked="" autocomplete="off">            </label>
                <label data-placeholder="Укажите VIN код" class="order-form__number-type --svg__form_angle-before">
                    VIN код
                    <input type="radio" class="hide" name="CheckAutoForm[type]" value="1" autocomplete="off">            </label>
                <label data-placeholder="Укажите номер кузова" class="order-form__number-type --svg__form_angle-before">
                    Номер кузова
                    <input type="radio" class="hide" name="CheckAutoForm[type]" value="3" autocomplete="off">            </label>
                <div class="order-form__inputs">
                    <input type="text" id="checkautoform-query" class="order-form__input order-form__number" name="CheckAutoForm[query]" placeholder="Укажите гос-номер">            </div>
                <!--
                            -->
                <button type="submit" class="order-form__button">Проверить</button>

            </form>        </div>
    </div>
</section>