<div class="email-form">
    <div class="email-form__input-block">
        <input type="email"
               name="email-form__input"
               id="email-form__input"
               class="email-form__input"
               placeholder="Укажите ваш адрес электронной почты"
        >
        <div class="help-block" id="error-email">Некорректно задан Email</div>
    </div>
    <div class="email-form__offer">Специальное предложение:</div>
    <div class="email-form__discount">Стоимость доступа в первые месяцы работы сервиса с дисконтом!</div>
    <div class="email-form__timer-wrapper">
        <div class="email-form__timer">Действует еще @@include('../timer/timer.html')</div>
    </div>
</div>