<section class="small-report-bottom">
    <div class="container">
        <div class="small-report-bottom__title-block">
            <div class="title"><span>Тарифы</span> на отчеты Ateka.pro</div>
            <div class="title__description">Сформируем полный отчёт менее чем за 2 минуты</div>
        </div>
        <div class="small-report-bottom__form">
            @@include('../email-form/email-form.html')
        </div>
        <div class="small-report-bottom__tariffs">
            @@include('../tariffs/tariffs.html')
        </div>
    </div>
</section>