<section class="top-menu">
    <div class="container">
        <div class="top-menu__wrapper">
            <div class="top-menu__head">
                <div class="top-menu__lk">Личный кабинет</div>
                <div class="top-menu__balance-block">
                    <div class="top-menu__balance">Баланс: 0 отчетов</div>
                    <div class="top-menu__logo --svg__logo"></div>
                </div>
            </div>
            <div class="top-menu__title">@@title</div>
            <div class="top-menu__items">
                <div class="top-menu__item --svg__form-angle-reverse-before active"><a href="#">Мои отчеты</a></div>
                <div class="top-menu__item --svg__form-angle-reverse-before"><a href="#">Заказать <span>отчёт</span></a></div>
                <div class="top-menu__item --svg__form-angle-reverse-before"><a href="#">Расписание</a></div>
                <div class="top-menu__item --svg__form-angle-reverse-before"><a href="#">Настройки</a></div>
                <div class="top-menu__item --svg__form-angle-reverse-before"><a href="#">Выход</a></div>
            </div>
        </div>
    </div>
</section>