<!--<section class="reports-list">-->
<!--    <div class="container">-->
<!--        <div class="reports-list__wrapper">-->
<!--            <div class="reports-list__table">-->
<!--                <div class="reports-list__item reports-list__item_table-head">-->
<!--                    <div class="reports-list__date reports-list__title">Дата запроса</div>-->
<!--                    <div class="reports-list__order reports-list__title">Заказ</div>-->
<!--                    <div class="reports-list__status reports-list__title">Статус</div>-->
<!--                    <div class="reports-list__cost reports-list__title">Стоимость</div>-->
<!--                </div>-->
<!--                <div class="reports-list__item status&#45;&#45;not-paid">-->
<!--                    <div class="reports-list__date">04.12.2025 22:12</div>-->
<!--                    <div class="reports-list__order">Гос. номер: Т888НН31</div>-->
<!--                    <div class="reports-list__status">Не оплачен</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <button class="reports-list__button &#45;&#45;2-col-btn">Оплатить сейчас</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="reports-list__item status&#45;&#45;process">-->
<!--                    <div class="reports-list__date">04.12.2025 22:12</div>-->
<!--                    <div class="reports-list__order">Гос. номер: Т888НН31</div>-->
<!--                    <div class="reports-list__status">Генерируется</div>-->
<!--                    <div class="reports-list__cost"><span>129р</span></div>-->
<!--                </div>-->
<!--                <div class="reports-list__item status&#45;&#45;success">-->
<!--                    <div class="reports-list__date">04.12.2025 22:12</div>-->
<!--                    <div class="reports-list__order">Гос. номер: Т888НН31</div>-->
<!--                    <div class="reports-list__status">Готов</div>-->
<!--                    <div class="reports-list__cost">-->
<!--&lt;!&ndash;                        <button class="reports-list__button">Открыть</button>&ndash;&gt;-->
<!--                        <button class="reports-list__button &#45;&#45;2-col-btn">Скачать <span class="reports-list__pdf">в PDF</span></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="reports-list__item status&#45;&#45;error">-->
<!--                    <div class="reports-list__date">04.12.2025 22:12</div>-->
<!--                    <div class="reports-list__order">Гос. номер: Т888НН31</div>-->
<!--                    <div class="reports-list__status">Ошибка</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <button class="reports-list__button">Повторить</button>-->
<!--                        <button class="reports-list__button reports-list__button-delete">Удалить</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="reports-list__item status&#45;&#45;not-paid">-->
<!--                    <div class="reports-list__date">04.12.2025 22:12</div>-->
<!--                    <div class="reports-list__order">Гос. номер: Т888НН31</div>-->
<!--                    <div class="reports-list__status">Не оплачен</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <button class="reports-list__button">Оплатить сейчас</button>-->
<!--                        <button class="reports-list__button reports-list__button-delete">Удалить</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        @@include('../pagination/pagination.html')-->
<!--    </div>-->
<!--</section>-->


<!--<section class="reports-list">-->
<!--    <div class="container">-->


<!--        <div class="reports-list__wrapper">-->
<!--            <div class="reports-list__table reports-list__table-people">-->
<!--                <div class="reports-list__item reports-list__item_table-head">-->
<!--                    <div class="reports-list__date reports-list__title">Дата запроса</div>-->
<!--                    <div class="reports-list__order reports-list__title">Заказ</div>-->
<!--                    <div class="reports-list__status reports-list__title">Статус</div>-->
<!--                    <div class="reports-list__cost reports-list__title">Действия</div>-->
<!--                </div>-->


<!--                <div class="reports-list__item status&#45;&#45;success">-->
<!--                    <div class="reports-list__date">10.02.2026 13:58</div>-->
<!--                    <div class="reports-list__order">-->
<!--                        <div class="reports-list__order-brief">ФИО: Николаенко Сергей Михайлович<br>ДАТА: 21.06.1957</div>-->
<!--                        <div class="reports-list__order-details" hidden>-->
<!--                            &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br>ФИО должника: НИКОЛАЕНКО СЕРГЕЙ МИХАЙЛОВИЧ<br>Место рождения: КУРСКАЯ ОБЛАСТЬ ЩИГРОВСКИЙ Р-Н<br>Дата-->
<!--                            рождения: 21.06.1957<br>Номер ИП: 34963/26/31020-ИП<br>Дата начала: 06.02.2026<br>Сводное ИП:-->
<!--                            <br>Тип документа: Постановление судебного пристава-исполнителя<br>Номер документа:-->
<!--                            31020/26/465670<br>Орган: СТАРООСКОЛЬСКОЕ РАЙОННОЕ ОТДЕЛЕНИЕ СУДЕБНЫХ ПРИСТАВОВ<br>ИНН-->
<!--                            взыскателя: 3123113698<br>Основание окончания: <br>Предмет взыскания: Исполнительский сбор —-->
<!--                            <br>Предмет взыскания: Сумма долга — 2000.00 руб.<br>Предмет взыскания: Исполнительский сбор —-->
<!--                            2000.00 руб.<br>Общая сумма: 2000 руб.<br>Отдел приставов: Старооскольское РОСП<br>Пристав:-->
<!--                            БЫЧКОВА А. И.<br>Телефон пристава: *\+7(4722)31-24-60<br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;<br>ФИО-->
<!--                            должника: НИКОЛАЕНКО СЕРГЕЙ МИХАЙЛОВИЧ<br>Место рождения: КУРСКАЯ ОБЛАСТЬ ЩИГРОВСКИЙ Р-Н<br>Дата-->
<!--                            рождения: 21.06.1957<br>Номер ИП: 34964/26/31020-ИП<br>Дата начала: 06.02.2026<br>Сводное ИП:-->
<!--                            <br>Тип документа: Постановление судебного пристава-исполнителя<br>Номер документа:-->
<!--                            31020/26/465671<br>Орган: СТАРООСКОЛЬСКОЕ РАЙОННОЕ ОТДЕЛЕНИЕ СУДЕБНЫХ ПРИСТАВОВ<br>ИНН-->
<!--                            взыскателя: 3123113698<br>Основание окончания: <br>Предмет взыскания: Исполнительский сбор —-->
<!--                            <br>Предмет взыскания: Сумма долга — 2000.00 руб.<br>Предмет взыскания: Исполнительский сбор —-->
<!--                            2000.00 руб.<br>Общая сумма: 2000 руб.<br>Отдел приставов: Старооскольское РОСП<br>Пристав:-->
<!--                            БЫЧКОВА А. И.<br>Телефон пристава: *\+7(4722)31-24-60-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="reports-list__status">Ожидание</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=187" data-report-name="ИНН: 361607444171">Удалить</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="reports-list__item status&#45;&#45;success">-->
<!--                    <div class="reports-list__date">10.02.2026 13:28</div>-->
<!--                    <div class="reports-list__order">-->
<!--                        ФИО: Морозова Елена Юрьевна<br>ДАТА: 10.05.1985 <p>В базе ФССП отсутствует</p>-->
<!--                    </div>-->
<!--                    <div class="reports-list__status">Готов</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=187" data-report-name="ИНН: 361607444171">Удалить</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="reports-list__item status&#45;&#45;success">-->
<!--                    <div class="reports-list__date">10.02.2026 13:27</div>-->
<!--                    <div class="reports-list__order">-->
<!--                        ФИО: Шибанов Николай Иванович<br>ДАТА: 06.09.1948 <p>В базе ФССП отсутствует</p>-->
<!--                    </div>-->
<!--                    <div class="reports-list__status">Готов</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=187" data-report-name="ИНН: 361607444171">Удалить</div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="reports-list__item status&#45;&#45;success">-->
<!--                    <div class="reports-list__date">10.02.2026 11:52</div>-->
<!--                    <div class="reports-list__order">-->
<!--                        ФИО: Струенкова Ольга Владимировна<br>ДАТА: 07.07.1989 <p>В базе ФССП отсутствует</p>-->
<!--                    </div>-->
<!--                    <div class="reports-list__status">Готов</div>-->
<!--                    <div class="reports-list__cost">-->
<!--                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=187" data-report-name="ИНН: 361607444171">Удалить</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<div class="reports-list__wrapper">
    <div class="reports-list__table">
        <div class="reports-list__item reports-list__item_table-head">
            <div class="reports-list__date reports-list__title">Дата запроса</div>
            <div class="reports-list__order reports-list__title">Заказ</div>
            <div class="reports-list__status reports-list__title">Статус</div>
            <div class="reports-list__cost reports-list__title">Действия</div>
        </div>

        <div class="reports-list__item status--process">
            <div class="reports-list__date">25.03.2026 09:11</div>
            <div class="reports-list__order"> VIN XTA21070041906191</div>
            <div class="reports-list__status">Генерируется</div>
            <div class="reports-list__cost">
                <a class="reports-list__button" href="/report/view/2825">Открыть</a>                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=2825" data-report-name="VIN XTA21070041906191">                        Удалить
            </div>                                    </div>
        </div>
        <div class="reports-list__item status--process">
            <div class="reports-list__date">25.03.2026 09:11</div>
            <div class="reports-list__order"> Гос. номер: М744МР122</div>
            <div class="reports-list__status">Генерируется</div>
            <div class="reports-list__cost">
                <a class="reports-list__button" href="/report/view/2824">Открыть</a>                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=2824" data-report-name="Гос. номер: М744МР122">                        Удалить
            </div>                                    </div>
        </div>
        <div class="reports-list__item status--process">
            <div class="reports-list__date">25.03.2026 09:09</div>
            <div class="reports-list__order"> Гос. номер: М736КУ72</div>
            <div class="reports-list__status">Генерируется</div>
            <div class="reports-list__cost">
                <a class="reports-list__button" href="/report/view/2823">Открыть</a>                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=2823" data-report-name="Гос. номер: М736КУ72">                        Удалить
            </div>                                    </div>
        </div>
        <div class="reports-list__item status--process">
            <div class="reports-list__date">20.03.2026 15:57</div>
            <div class="reports-list__order"> Гос. номер: К355ХС136</div>
            <div class="reports-list__status">Генерируется</div>
            <div class="reports-list__cost">
                <a class="reports-list__button" href="/report/view/2819">Открыть</a>                        <div class="reports-list__button reports-list__button-delete" data-href-delete="/dash/delete-report?id=2819" data-report-name="Гос. номер: К355ХС136">                        Удалить
            </div>                                    </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">11.02.2026 14:22</div>
            <div class="reports-list__order"> Гос. номер: А234АА136</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=183" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 18:05</div>
            <div class="reports-list__order"> Гос. номер: К482ЕТ977</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=165" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 16:37</div>
            <div class="reports-list__order"> Гос. номер: Х345МВ977</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=161" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 16:35</div>
            <div class="reports-list__order"> Гос. номер: Е482КЕ977</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=157" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 14:02</div>
            <div class="reports-list__order"> Гос. номер: Н997НЕ136</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=155" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 13:56</div>
            <div class="reports-list__order"> Гос. номер: Е756КЕ777</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=153" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 13:51</div>
            <div class="reports-list__order"> Гос. номер: В764КЕ136</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=151" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 13:25</div>
            <div class="reports-list__order"> Гос. номер: Н040АМ136</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=149" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 13:24</div>
            <div class="reports-list__order"> Гос. номер: В513АТ136</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=147" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
        <div class="reports-list__item status--success">
            <div class="reports-list__date">10.02.2026 12:23</div>
            <div class="reports-list__order"> Гос. номер: С400ОВ36</div>
            <div class="reports-list__status">Готов</div>
            <div class="reports-list__cost">
                <a class="reports-list__button --2-col-btn" href="/dash/download-report?id=145" target="_blank">Скачать <span class="reports-list__pdf">в PDF</span></a>                                                        </div>
        </div>
    </div>
</div>
