<section class="report-cost report-section report-section-grey">
    <div class="container">
        <div class="report-cost__title report-title">Средняя рыночная стоимость</div>
        <div class="report-cost__items report-grid">
            <div class="report-cost__item">
                <div class="report-point">Марка:</div>
                <div class="report-text">Chery</div>
            </div>
            <div class="report-cost__item">
                <div class="report-point">Модель:</div>
                <div class="report-text">Tiggo (T11)</div>
            </div>
            <div class="report-cost__item">
                <div class="report-point">Год:</div>
                <div class="report-text">2013</div>
            </div>
            <div class="report-cost__item">
                <div class="report-point">Пробег:</div>
                <div class="report-text">187305 км</div>
            </div>
            <div class="report-cost__item report-cost__item-fullgrid">
                <div class="report-point">Стоимость авто:</div>
                <div class="report-text">
                  Рыночный диапазон стоимости для автомобиля Chery Tiggo (T11) - 2013 года выпуска, с пробегом 159000км,
                  на дату 04.12.2025г. составляет 464582руб.
                </div>
            </div>
        </div>
    </div>
</section>