.top {
  padding: 5.4rem 0 4.5rem 0;
  background: radial-gradient(45.94% 145.3% at 50% 106.18%, rgba(113, 184, 223, 0.32) 0%, rgba(132, 195, 229, 0.32) 61.39%, rgba(229, 246, 255, 0.32) 69.37%, rgba(97, 148, 177, 0.32) 100%),
              linear-gradient(0deg, #E8F3F9, #E8F3F9);

  .top__wrapper {
    padding: 0 14.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .top__title-block {
      color: #1E2228;
      .top__title-small {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 4.3rem;
        letter-spacing: -0.02rem;
      }
      .top__title-big {
        font-size: 8rem;
        font-weight: 700;
        line-height: 9.6rem;
      }
    }
    .top__logo {
      width: 24.4rem;
      height: 12.8rem;
      flex-shrink: 0;
      @include bg;
    }
  }
}

@include media('max', 'xl') {
  .top {
    .top__wrapper {
      padding: 0;
    }
  }
}

@include media('max', 'm') {
  .top {
    padding: 3.2rem 0;
    .top__wrapper {
      .top__logo {
        display: none;
      }
    }
  }
}

@include media('max', 's') {
  .top {
    padding: 3.8rem 0 2.2rem 0;
    .top__wrapper {
      .top__title-block {
        .top__title-small {
          font-size: 2rem;
          line-height: 2.3rem;
        }
        .top__title-big {
          font-size: 5.5rem;
          line-height: 8.2rem;
        }
      }
    }
  }
}