<section class="registration-form">
    <div class="container">
        <div class="registration-form__wrapper">
            <div class="registration-form__title">Введите ваш номер мобильного телефона, на него будет отправлена смс с подтверждением</div>
            <form id="w0" class="registration-form__form" action="/registration" method="post" onsubmit="return false;">
                <input type="hidden" name="_csrf" value="ASpUf-gu6Q7WYPLvYDgBvxu1Roojhe73JjkzEwmhJYdIfS5PoUuQRKcjiKoZYUX1cfkk1XO1w4YeSnliWvlu6A==">
                <div class="registration-form__input-wrapper registration-form__input-wrapper--email field-registrationform-email">
                    <input type="email" id="registrationform-email" class="registration-form__email form-control" name="RegistrationForm[email]" placeholder="E-mail" aria-required="true" aria-invalid="true"><div class="help-block">Необходимо заполнить «E-mail».</div>
                </div>
                <div class="registration-form__input-wrapper registration-form__input-wrapper--password field-registrationform-password required">
                    <input type="password" id="registrationform-password" class="registration-form__password form-control" name="RegistrationForm[password]" placeholder="Пароль" aria-required="true"><div class="help-block"></div>
                </div>
                <div class="registration-form__input-wrapper registration-form__input-wrapper--password-confirm field-registrationform-passwordconfirm required">
                    <input type="password" id="registrationform-passwordconfirm" class="registration-form__password form-control" name="RegistrationForm[passwordConfirm]" placeholder="Повтор пароля" aria-required="true"><div class="help-block"></div>
                </div>
                <div class="registration-form__checkbox-block">

                    <div class="checkbox">
                        <div class="custom-checkbox"><input type="hidden" name="RegistrationForm[confirmRule]" value="0"><input type="checkbox" id="check" name="RegistrationForm[confirmRule]" value="1" aria-required="true"><label class="control-label" for="check"></label></div>
                        <div class="checkbox-text"> Я даю согласие на <a href="/personal">обработку моих персональных данных</a> в соответствии с <a href="/privacy">политикой конфиденциальности</a> и ознакомлен с <a href="/tariff">правилами</a> работы сервиса</div>
                    </div>
                </div>
                <button type="submit" class="registration-form__button">Зарегистрироваться</button>
            </form>
            <div class="registration-form__registration-block">
                <div class="registration-form__question --svg__arrow-after">У вас уже есть учетная запись?</div>
                <a href="#" class="registration-form__registration-link">Войти здесь</a>
            </div>
        </div>
    </div>
</section>


<!--СТРАНИЧКА С ВВОДОМ КОДА-->

<!--<section class="registration-form">-->
<!--    <div class="container">-->
<!--        <div class="registration-form__wrapper">-->
<!--            <div class="registration-form__title">Введите проверочный код из СМС отправленный на указанный номер</div>-->
<!--            <form action="" class="registration-form__form">-->
<!--                <input type="number" class="registration-form__email registration-form__email&#45;&#45;error" placeholder="Код из СМС">-->
<!--                <button type="submit" class="registration-form__button">Зарегистрироваться</button>-->
<!--            </form>-->
<!--            <div class="registration-form__registration-block registration-form__registration-block-sms">-->
<!--                <div class="registration-form__question &#45;&#45;svg__short-arrow-after">Повторная отправка доступна через 00:59</div>-->
<!--                <a href="#" class="registration-form__registration-link">Отправить снова</a>-->
<!--            </div>-->
<!--            <div class="registration-form__registration-block">-->
<!--                <div class="registration-form__question &#45;&#45;svg__arrow-after">У вас уже есть учетная запись?</div>-->
<!--                <a href="#" class="registration-form__registration-link">Войти здесь</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
