<section class="report-osago report-section">
    <div class="container">
        <div class="report-osago__title report-title">Страховой полис ОСАГО</div>
        <div class="report-osago__items report-grid">
            <div class="report-osago__item">
                <div class="report-point">Серия и номер полиса:</div>
                <div class="report-text">ХХХ 0554244596</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Допущено водителей:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Дата окончания действия:</div>
                <div class="report-text">10.01.2025 г.</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Коэффицент КБМ:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Дата начала действия:</div>
                <div class="report-text">08.10.2024 г.</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Регион эксплуатации:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Тип полиса:</div>
                <div class="report-text">общий полис</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Сумма страховой премии:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Тип использование ТС:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-osago__item">
                <div class="report-point">Статус полиса:</div>
                <div class="report-text">Прекратил действие</div>
            </div>
        </div>
    </div>
</section>