<!--<div class="tariffs tariffs__text-only" id="tariffs">-->
<!--&lt;!&ndash;    <div class="tariffs__item">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="tariffs__item-text">&ndash;&gt;-->
<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--&lt;!&ndash;                Для получения прав доступа к полному функционалу Системы, Пользователь должен&ndash;&gt;-->
<!--&lt;!&ndash;                осуществить регистрацию на Сайте. Для регистрации Пользователь обязан иметь действующий договор с&ndash;&gt;-->
<!--&lt;!&ndash;                Оператором сотовой связи, предоставляющим свои услуги на территории России, оформленный на имя&ndash;&gt;-->
<!--&lt;!&ndash;                Пользователя. Условиями такого договора о предоставлении услуг подвижной связи должна быть предусмотрена&ndash;&gt;-->
<!--&lt;!&ndash;                возможность Пользователя осуществлять с использованием Абонентского номера прием и обработку голосовых&ndash;&gt;-->
<!--&lt;!&ndash;                вызовов, а также прием и отправление SMS-сообщений.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->

<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--&lt;!&ndash;                При оплате Пользователем Услуг денежными средствами со счета мобильного номера Пользователь соглашается и&ndash;&gt;-->
<!--&lt;!&ndash;                принимает условия совершения мобильных платежей в зависимости от того, абонентом какого оператора&ndash;&gt;-->
<!--&lt;!&ndash;                мобильной связи является Пользователь.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->

<!--&lt;!&ndash;            <p>&ndash;&gt;-->
<!--&lt;!&ndash;                Для абонента Билайн стоимость составляет 35 рублей в сутки.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    <div class="tariffs__item">&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="tariffs__title-block">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__item-title"><span>Один</span> отчет</div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__subtitle">Для проверки одного транспортного средства</div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="tariffs__price-block">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__delimiter"></div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__price">199 руб.</div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <button class="tariffs__button">Приобрести</button>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__rules">&ndash;&gt;-->
<!--    &lt;!&ndash;                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также,&ndash;&gt;-->
<!--    &lt;!&ndash;                подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    <div class="tariffs__item">&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="tariffs__title-block">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__item-title">Пакет <span>«10 отчетов»</span></div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__subtitle">69 руб. за отчет</div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="tariffs__price-block">&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__delimiter"></div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__price">999 руб.</div>&ndash;&gt;-->
<!--    &lt;!&ndash;            <button class="tariffs__button">Приобрести</button>&ndash;&gt;-->
<!--    &lt;!&ndash;            <div class="tariffs__rules">&ndash;&gt;-->
<!--    &lt;!&ndash;                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также,&ndash;&gt;-->
<!--    &lt;!&ndash;                подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>&ndash;&gt;-->
<!--    &lt;!&ndash;            </div>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->

<div class="tariffs tariffs__text-only">
    <div class="tariffs__item">
        <div class="tariffs__item-text">
            <h3><strong>Основной тарифный план:</strong></h3>
            <ul>
                <li>
                    Стоимость услуги составляет 399 рублей за доступ в личный кабинет на 30 календарных дней.
                </li>
            </ul>

            <h3><strong>Безопасность платежей</strong></h3>
            <ul>
                <li>Безопасность передаваемой информации обеспечивается с помощью современных протоколов обеспечения безопасности в сети Интернет.</li>
                <li>Безопасность платежей обеспечивается с помощью Банка-эквайера (функционирующего на основе современных протоколов и технологий, разработанных платежными системами МИР, Visa International и Mastercard Worldwide (3D-Secure: Verified by VISA, Mastercard SecureCode, MirAccept)).</li>
                <li>Обработка полученных конфиденциальных данных держателя карты производится в процессинговом центре Банка, сертифицированного по стандарту PCI DSS.</li>
            </ul>
        </div>
    </div>
</div>

<div class="tariffs" id="tariffs">
    <!--    --><!--    <div class="tariffs__item">-->
    <!--        <div class="tariffs__discount --svg__discount">-->
    <!--            <div class="tariffs__discount-title --svg__flame-before">акция</div>-->
    <!--            <div class="tariffs__discount-value">-90%</div>-->
    <!--        </div>-->
    <!---->
    <!--        <div class="tariffs__title-block">-->
    <!--            <div class="tariffs__item-title">-->
    <!--                <span class="tariffs__subtitle-span">Подписка</span>-->
    <!--                <br><span>«Безлимит»</span>-->
    <!--            </div>-->
    <!--            <div class="tariffs__subtitle">1 проверка в день</div>-->
    <!--        </div>-->
    <!--        <div class="tariffs__price-block">-->
    <!--            <div class="tariffs__delimiter"></div>-->
    <!--            <div class="tariffs__price">--><!-- руб.</div>-->
    <!--            <div class="tariffs__price-next">далее --><!--₽ / 7-->
    <!--                дней-->
    <!--            </div>-->
    <!--            <button class="tariffs__button" id="request-subscribe">-->
    <!--                Приобрести-->
    <!--            </button>-->
    <!--            <div class="tariffs__rules">-->
    <!--                <div class="help-block" id="check-rules"></div>-->
    <!--                <div class="tariffs__checkbox">-->
    <!--                    <div class="checkbox">-->
    <!--                        <div class="custom-checkbox">-->
    <!--                            <input type="checkbox" id="check" name="" required>-->
    <!--                            <label for="check"></label>-->
    <!--                        </div>-->
    <!--                        <div class="checkbox-text">-->
    <!--                            --><!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="tariffs__checkbox">-->
    <!--                    <div class="checkbox">-->
    <!--                        <div class="custom-checkbox">-->
    <!--                            <input type="checkbox" id="check1" name="" required>-->
    <!--                            <label for="check1"></label>-->
    <!--                        </div>-->
    <!--                        <div class="checkbox-text">-->
    <!--                            Даю согласие на оплату тестового периода (1 день) за --><!-- рубль с последующими еженедельными автоматическими списаниями по --><!-- рублей за 7 дней.-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    -->

    <div class="tariffs__item">
        <div class="tariffs__title-block">
            <div class="tariffs__item-title"><span>Один</span> отчет</div>
            <div class="tariffs__subtitle">Для проверки одного транспортного средства</div>
        </div>
        <div class="tariffs__price-block">
            <div class="tariffs__delimiter"></div>
            <div class="tariffs__price">399 руб.</div>
            <button id="pay-package-0" class="tariffs__button">Приобрести</button>
            <div class="tariffs__rules">
                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>                </div>
        </div>
    </div>


</div>