<div class="tariffs" id="tariffs">
    <div class="tariffs__item">
        <div class="tariffs__discount --svg__discount">
            <div class="tariffs__discount-title --svg__flame-before">акция</div>
            <div class="tariffs__discount-value">-90%</div>
        </div>
        <div class="tariffs__title-block">
            <div class="tariffs__item-title">
                <span class="tariffs__subtitle-span">Подписка</span><br><span>«Безлимит»</span>
            </div>
            <div class="tariffs__subtitle">1 проверка (+99 в подарок) на 3 дня</div>
        </div>
        <div class="tariffs__price-block">
            <div class="tariffs__delimiter"></div>
            <div class="tariffs__price">29 руб.</div>
            <div class="tariffs__price-next">далее 999₽ / 7 дней</div>
            <button class="tariffs__button">Приобрести</button>
            <div class="tariffs__rules">
                <div class="tariffs__checkbox">
                    @@include('../checkbox/checkbox.html', {"checkbox-text":'Оплачивая тариф, Вы даете <a href="#">согласие на обработку персональных данных</a>, а также подтверждаете свое согласие с <a href="#">публичной офертой</a> и <a href="#">политикой конфиденциальности</a>',})
                </div>
                <div class="tariffs__checkbox">
                    @@include('../checkbox/checkbox.html', {"checkbox-text":'Даю согласие на оплату тарифа и дальнейшие рекуррентные платежи для оплаты подписки',})
                </div>
            </div>
        </div>
    </div>
    <div class="tariffs__item">
        <div class="tariffs__title-block">
            <div class="tariffs__item-title"><span>Один</span> отчет</div>
            <div class="tariffs__subtitle">Для проверки одного транспортного средства</div>
        </div>
        <div class="tariffs__price-block">
            <div class="tariffs__delimiter"></div>
            <div class="tariffs__price">199 руб.</div>
            <button class="tariffs__button">Приобрести</button>
            <div class="tariffs__rules">
                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также,
                подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>
            </div>
        </div>
    </div>
    <div class="tariffs__item">
        <div class="tariffs__title-block">
            <div class="tariffs__item-title">Пакет <span>«10 отчетов»</span></div>
            <div class="tariffs__subtitle">69 руб. за отчет</div>
        </div>
        <div class="tariffs__price-block">
            <div class="tariffs__delimiter"></div>
            <div class="tariffs__price">999 руб.</div>
            <button class="tariffs__button">Приобрести</button>
            <div class="tariffs__rules">
                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также,
                подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>
            </div>
        </div>
    </div>
</div>