<div class="tariffs tariffs__text-only" id="tariffs">
    <div class="tariffs__item">
        <div class="tariffs__item-text">
            <p>
                Для получения прав доступа к полному функционалу Системы, Пользователь должен
                осуществить регистрацию на Сайте. Для регистрации Пользователь обязан иметь действующий договор с
                Оператором сотовой связи, предоставляющим свои услуги на территории России, оформленный на имя
                Пользователя. Условиями такого договора о предоставлении услуг подвижной связи должна быть предусмотрена
                возможность Пользователя осуществлять с использованием Абонентского номера прием и обработку голосовых
                вызовов, а также прием и отправление SMS-сообщений.
            </p>

            <p>
                При оплате Пользователем Услуг денежными средствами со счета мобильного номера Пользователь соглашается и
                принимает условия совершения мобильных платежей в зависимости от того, абонентом какого оператора
                мобильной связи является Пользователь.
            </p>

            <p>
                Для абонента Билайн стоимость составляет 35 рублей в сутки.
            </p>
        </div>
    </div>
    <!--    <div class="tariffs__item">-->
    <!--        <div class="tariffs__title-block">-->
    <!--            <div class="tariffs__item-title"><span>Один</span> отчет</div>-->
    <!--            <div class="tariffs__subtitle">Для проверки одного транспортного средства</div>-->
    <!--        </div>-->
    <!--        <div class="tariffs__price-block">-->
    <!--            <div class="tariffs__delimiter"></div>-->
    <!--            <div class="tariffs__price">199 руб.</div>-->
    <!--            <button class="tariffs__button">Приобрести</button>-->
    <!--            <div class="tariffs__rules">-->
    <!--                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также,-->
    <!--                подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="tariffs__item">-->
    <!--        <div class="tariffs__title-block">-->
    <!--            <div class="tariffs__item-title">Пакет <span>«10 отчетов»</span></div>-->
    <!--            <div class="tariffs__subtitle">69 руб. за отчет</div>-->
    <!--        </div>-->
    <!--        <div class="tariffs__price-block">-->
    <!--            <div class="tariffs__delimiter"></div>-->
    <!--            <div class="tariffs__price">999 руб.</div>-->
    <!--            <button class="tariffs__button">Приобрести</button>-->
    <!--            <div class="tariffs__rules">-->
    <!--                Оплачивая тариф, Вы даете согласие на обработку <a href="/personal">персональных данных</a>, а также,-->
    <!--                подтверждаете своё согласие с <a href="/permission">публичной офертой</a> и <a href="/tariff">тарифами.</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>