<section class="report-fns report-section report-section-grey">
    <div class="container">
        <div class="report-fns__title report-title">Федеральная таможенная служба</div>
        <div class="report-fns__items report-grid">
            <div class="report-fns__item">
                <div class="report-point">Дата декларации:</div>
                <div class="report-text">14.08.2013 г.</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">Таможня:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">Владелец:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">Пробег:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">ТИН:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">Отправитель:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">Страна вывоза:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-fns__item">
                <div class="report-point">Цена:</div>
                <div class="report-text">нет данных</div>
            </div>
        </div>
    </div>
</section>