<section class="report-announcement report-section">
    <div class="container">
        <div class="report-announcement__title report-title">Найденные объявления о продаже</div>
        <div class="report-announcement__items report-grid">
            <div class="report-announcement__item">
                <div class="report-point">Дата объявления:</div>
                <div class="report-text">10.01.2025 г.</div>
            </div>
            <div class="report-announcement__item">
                <div class="report-point">Кол-во владельцев:</div>
                <div class="report-text">–</div>
            </div>
            <div class="report-announcement__item">
                <div class="report-point">Пробег в моменте продажи:</div>
                <div class="report-text">187305 км.</div>
            </div>
            <div class="report-announcement__item">
                <div class="report-point">Город продажи:</div>
                <div class="report-text">Воронеж</div>
            </div>
            <div class="report-announcement__item">
                <div class="report-point">Дата регистрации:</div>
                <div class="report-text">375000 руб.</div>
            </div>
            <div class="report-announcement__item report-announcement__item-fullgrid">
                <div class="report-point">Источник:</div>
                <div class="report-text">https://auto.drom.ru/voronezh/chery/tiggo/522959267.html</div>
            </div>
            <div class="report-announcement__item report-announcement__item-fullgrid">
                <div class="report-point">Описание объявления:</div>
                <div class="report-text">
                  Продаю своего Тигго. Машина не новая, но честная.&#x2028;Мотор 1.6 (SQRE4G16), масло только
                  поменял. Капиталку делал прошлый хозяин - сейчас аккуратно обкатываю, езжу без газа. Газ 4-го
                  поколения установлен, всё работает как надо. По кузову - есть рыжики, но дыр и гнили нет, всё
                  целое.&#x2028;Климат полностью исправен: печка жарит, кондиционер морозит как
                  холодильник. Стоит нормальная магнитола и зеркало-видеорегистратор - всё подключено и
                  работает.&#x2028;Резина: летняя ещё на пару сезонов, зимняя - свежая, отдам вместе с машиной.
                  Учёт на мне, переоформление без проблем.&#x2028;Машина ухоженная, не бросал и не
                  убивал.&#x2028;Сел — поехал. Перед звоном напишите личной сообщение
                </div>
            </div>
        </div>
    </div>
</section>