<section class="sources">
    <div class="container">
        <div class="sources__wrapper">
            <div class="sources__title-block">
                <div class="title"><span>Источники данных</span> для <br class="sources__mobile-only"> проверки</div>
                <div class="title__description">
                    infokontol.ru объединяет государственные реестры и закрытые коммерческие базы. Благодаря этому
                    онлайн-проверки и поточный мониторинг осуществляется максимально полно и объективно.
                </div>
            </div>
            <div class="sources__types-wrapper">
                <div class="sources__types-title">Основные типы источников, которые используются при формировании отчетов:</div>
                <div class="sources__types">
                    <div class="sources__type">ГИБДД и МВД</div>
                    <div class="sources__type">РСА и страховые компании</div>
                    <div class="sources__type">ФНС и <span class="sources__desk-only">таможенные службы</span> <span class="--mobile-only">таможня</span>
                    </div>
                    <div class="sources__type">Реестр залогов <span
                            class="sources__desk-only">(нотариальная палата)</span></div>
                    <div class="sources__type">Аукционы битых авто</div>
                    <div class="sources__type">Базы техосмотра и сервисов ТО</div>
                    <div class="sources__type">Такси и каршеринговые реестры</div>
                    <div class="sources__type">Крупные доски объявлений</div>
                    <div class="sources__type">Дополнительные коммерческие источники</div>
                </div>
            </div>
        </div>
    </div>
</section>