<section class="report-period report-section">
    <div class="container">
        <div class="report-period__title-block">
            <div class="report-period__title report-title">Периоды владения</div>
            <div class="report-period__flash-point">
                @@include('../report-flash-point/report-flash-point.html', {
                "class":"blue",
                "svgId":"css--info-icon",
                "text":"Общий срок эксплуатации: 12 лет",
                })
            </div>
            <div class="report-period__flash-point">
                @@include('../report-flash-point/report-flash-point.html', {
                "class":"blue",
                "svgId":"css--info-icon",
                "text":"Количество владельцев: 7",
                })
            </div>
        </div>
        <ol class="report-period__items report-grid">
            <li class="report-period__item">
                <div class="report-period__human">
                    <div class="report-point">Физическое лицо</div>
                    <div class="report-text">07.09.2013г. — 09.11.2017г.</div>
                </div>
                <div class="report-period__desc">
                    <div class="report-point">Последнее действие:</div>
                    <div class="report-text">Первичная регистрация</div>
                </div>
            </li>
            <li class="report-period__item">
                <div class="report-period__human">
                    <div class="report-point">Физическое лицо</div>
                    <div class="report-text">09.11.2017г. — 09.06.2018г.</div>
                </div>
                <div class="report-period__desc">
                    <div class="report-point">Последнее действие:</div>
                    <div class="report-text">Прекращение регистрации</div>
                </div>
            </li>
            <li class="report-period__item">
                <div class="report-period__human">
                    <div class="report-point">Физическое лицо</div>
                    <div class="report-text">09.06.2018г. — 03.04.2022г.</div>
                </div>
                <div class="report-period__desc">
                    <div class="report-point">Последнее действие:</div>
                    <div class="report-text">По сделкам, произведенным в любой форме (купля-продажа, дарение, др.) с
                        заменой
                        государственных регистрационных знаков
                    </div>
                </div>
            </li>
        </ol>
    </div>
</section>