<section class="report-crash report-section">
    <div class="container">
        <div class="report-crash__title-block">
            <div class="report-crash__title report-title">Информация о ДТП</div>
            <div class="report-crash__flash-point">
              @@include('../report-flash-point/report-flash-point.html', {
                "class":"red",
                "svgId":"css--info-icon",
                "text":"Количество происшествий: 1",
              })
            </div>
        </div>
        <div class="report-crash__items report-grid">
            <div class="report-crash__item">
                <div class="report-point">Порядковый номер:</div>
                <div class="report-text">1</div>
            </div>
            <div class="report-crash__item">
                <div class="report-point">Дата аварии:</div>
                <div class="report-text">22.03.2022 г.</div>
            </div>
            <div class="report-crash__item">
                <div class="report-point">Номер аварии:</div>
                <div class="report-text">200007576</div>
            </div>
            <div class="report-crash__item">
                <div class="report-point">Количество участников:</div>
                <div class="report-text">нет данных</div>
            </div>
            <div class="report-crash__item">
                <div class="report-point">Состояние ТС:</div>
                <div class="report-text">Повреждено</div>
            </div>
            <div class="report-crash__item">
                <div class="report-point">Тип:</div>
                <div class="report-text">Столкновение</div>
            </div>
            <div class="report-crash__item">
                <div class="report-point">Место происшествия:</div>
                <div class="report-text">Железнодорожный, Воронеж, Воронежская Область, Цфо</div>
            </div>
        </div>
        <div class="report-crash__car-wrapper report-grid">
            <img src="./img/report-crash.webp" alt="damage schema" class="report-crash__car-img">
            <div class="report-crash__car-items">
                <div class="report-crash__car-item-wrapper">
                    <div class="report-crash__circle report-crash__circle-yellow"></div>
                    <div class="report-crash__car-item">
                        <div class="report-point">Слабые повреждения</div>
                        <div class="report-text">
                            Повреждения колёс (шин), элементов ходовой части,
                            стекол, фар, указателей поворота, стоп-сигналов и
                            других стеклянных элементов (в т.ч. зеркал), а
                            также царапины, сколы, потертости лакокрасочного
                            покрытия или пластиковых конструктивных деталей
                            и другие повреждения без изменения геометрии
                            элементов (деталей) кузова и эксплуатационных
                            характеристик ТС
                        </div>
                    </div>
                </div>
                <div class="report-crash__car-item-wrapper">
                    <div class="report-crash__circle report-crash__circle-red"></div>
                    <div class="report-crash__car-item">
                        <div class="report-point">Слабые повреждения</div>
                        <div class="report-text">
                            Повреждения колёс (шин), элементов ходовой части,
                            стекол, фар, указателей поворота, стоп-сигналов и
                            других стеклянных элементов (в т.ч. зеркал), а
                            также царапины, сколы, потертости лакокрасочного
                            покрытия или пластиковых конструктивных деталей
                            и другие повреждения без изменения геометрии
                            элементов (деталей) кузова и эксплуатационных
                            характеристик ТС
                        </div>
                    </div>
                </div>
                <div class="report-crash__car-item-wrapper">
                    <div class="report-crash__circle report-crash__circle-blue"></div>
                    <div class="report-crash__car-item">
                        <div class="report-point">Слабые повреждения</div>
                        <div class="report-text">
                            Повреждения колёс (шин), элементов ходовой части,
                            стекол, фар, указателей поворота, стоп-сигналов и
                            других стеклянных элементов (в т.ч. зеркал), а
                            также царапины, сколы, потертости лакокрасочного
                            покрытия или пластиковых конструктивных деталей
                            и другие повреждения без изменения геометрии
                            элементов (деталей) кузова и эксплуатационных
                            характеристик ТС
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>