<section class="full-info">
    <div class="container">
        <div class="full-info__top-wrapper">
            <div class="full-info__title-block">
                <div class="title"><span>Мы проверим</span> и покажем</div>
                <div class="title__description">
                    Отчёт по VIN и госномеру оформлен в удобном виде и подходит как для частных покупателей, так и для
                    автосалонов. Вы получаете всю важную информацию по автомобилю в одном документе.
                </div>
            </div>
            <div class="full-info__photo --svg__photo-before">
                Прямо сейчас фото не найдено, скорее всего, оно будет в отчете
            </div>
        </div>
        <div class="full-info__items">
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Владельцы автомобиля</div>
                    <div class="full-info__text">С регионом и периодом владения</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Сервисное обслуживание</div>
                    <div class="full-info__text">Записи о визитах в авто-сервисы и к дилеру</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Страховые полисы</div>
                    <div class="full-info__text">Проверим наличие полисов ОСАГО и КБМ</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Записи о ДТП</div>
                    <div class="full-info__text">Покажем ДТП с 2015 года и по евро-протоколу</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Аукционы аварийных автомобилей</div>
                    <div class="full-info__text">Найдём публикации на известных площадках</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Такси и каршеринг</div>
                    <div class="full-info__text">Проверим на коммерческое использование</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Юридическая чистота</div>
                    <div class="full-info__text">Лизинг, залоги, арбитражи, базы МВД и ГИБДД</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Ретроспективные фотографии</div>
                    <div class="full-info__text">Реальные фотографии из 6+ источников</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Отзывные кампании</div>
                    <div class="full-info__text">Проверим наличие и пройденные доработки</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Выписанные штрафы</div>
                    <div class="full-info__text">Покажем оплаченные и неоплаченные штрафы</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Проверка ПТС</div>
                    <div class="full-info__text">На выданные дубликаты и оформление эПТС</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Пробег и анализ на скручивание</div>
                    <div class="full-info__text">Анализ записей о пробеге</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Пройденные техосмотры</div>
                    <div class="full-info__text">Данные о пройденных техосмотрах и пробегах</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Расширенная информация о ДТП</div>
                    <div class="full-info__text">Отобразим повреждения и обстоятельства</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">История продаж и упоминаний</div>
                    <div class="full-info__text">Проверим доски объявлений и авто-площадки</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Ввоз из-за рубежа</div>
                    <div class="full-info__text">Проверим корректность оформления и таможни</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Ограничения на регистрацию</div>
                    <div class="full-info__text">Ограничения в ГИБДД и от судебных приставов</div>
                </div>
            </div>
            <div class="full-info__item">
                <div class="full-info__icon"></div>
                <div class="full-info__text-block">
                    <div class="full-info__text-title">Расшифровка VIN-кода</div>
                    <div class="full-info__text">Получим от автопроизводителей, дилеров и СТО</div>
                </div>
            </div>
        </div>
    </div>
</section>