<section class="promo">
    <div class="container">
        <div class="promo__title-group">
            <div class="promo__title-block">
                <h1 class="promo__title">Сервис автоматического</h1>
                <div class="promo__subtitle">
                    <span>онлайн мониторинга</span>
                    <span class="promo__logo --svg__logo --mobile-only"></span>
                </div>
            </div>
            <div class="promo__logo --svg__logo"></div>
        </div>
        <div class="promo__check">
            <div class="promo__form">
                <div class="promo__buttons">
                    <div class="promo__button active --svg__form-angle-reverse-before" >ГОС-номер</div>
                    <div class="promo__button" >VIN код</div>
                    <div class="promo__button" >Номер кузова</div>
                </div>
                <div class="promo__form-block">
                    <input type="text" name="main-input" id="main-input" class="promo__input" placeholder="Укажите ГОС-номер">
                    <a href="#" class="example-link --svg__example-before">Пример отчета</a>
                    <button class="promo__form-button">Проверить</button>
                </div>
            </div>
            <div class="promo__example-block">
                <div class="promo__example-text">Задолженности, трекинг посылок, проверка авто на участие в ДТП и многое другое! Попробуй удобство работы на отчете по своему авто!
                </div>
                <a href="#" class="example-link --svg__example-before">Пример отчета</a>
            </div>
        </div>
    </div>
</section>