<section class="about about__@@backgroundColor">
    <div class="container">
        <div class="about__title-block">
            <h2 class="title"><span>@@title-span</span> @@title</h2>
            <div class="title__description">
                @@description
            </div>
        </div>
        <div class="about__items">
            <div class="about__item">
                <div class="about__item-title">Уведомления о штрафах и начислениях</div>
                <div class="about__item-text">
                    Удобно и оперативно уточнить информацию о поступивших штрафах/начислениях
                </div>
            </div>
            <div class="about__item">
                <div class="about__item-title">Мониторинг штрафов ГИБДД</div>
                <div class="about__item-text">
                    Агрегируем также штрафы со стороны ГИБДД для более полной картины по состоянию задолженностей
                </div>
            </div>
            <div class="about__item">
                <div class="about__item-title">ДТП, история <br> пробега</div>
                <div class="about__item-text">
                    Показания одометра по техосмотрам и сервисным базам. Данные ГИБДД, страховых компаний и аукционов: число аварий, характер повреждений и примерные суммы ремонта.
                </div>
            </div>
            <div class="about__item">
                <div class="about__item-title">Отслеживание почтовых отправлений</div>
                <div class="about__item-text">
                    Находим и мониторим почтовые отправления и посылки.
                </div>
            </div>
            <div class="about__item">
                <div class="about__item-title">Расписание ж/д авто</div>
                <div class="about__item-text">
                    Подбираем максимум из доступных опций, позволяющих вам добраться из точки А в точку Б
                </div>
            </div>
            <div class="about__item">
                <div class="about__item-title">Фото из разных источников</div>
                <div class="about__item-text">Подтягиваем архивные фото из объявлений и сервисов, чтобы вы увидели, как
                    автомобиль выглядел раньше и не <br> скрывались ли <br>
                    повреждения <br>
                    или тюнинг.
                </div>
            </div>
        </div>
    </div>
</section>