<section class="report-info  report-section report-section-grey">
    <div class="container">
        <div class="report-info__title report-title">Сводная информация</div>
        <div class="report-info__items report-grid">
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle report-info__item-circle-orange"></div>
                <div class="report-info__item">
                  <div class="report-point">Количество владельцев</div>
                <div class="report-text">7 владельцев по ПТС</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle report-info__item-circle-red"></div>
                <div class="report-info__item">
                  <div class="report-point">Участие в ДТП</div>
                <div class="report-text">1 запись</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Ограничения</div>
                <div class="report-text">не имеет ограничений</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Нахождение в розыске</div>
                <div class="report-text">не в розыске</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Реестр залогов</div>
                <div class="report-text">4 записи</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Арбитражные дела</div>
                <div class="report-text">не имеет арбитражных дел</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Использование в такси</div>
                <div class="report-text">не использовался</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Использование в лизинге</div>
                <div class="report-text">не использовался</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Коммерческое использование</div>
                <div class="report-text">не использовался</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Расчёты ремонтных работ</div>
                <div class="report-text">не имеет ремонтных работ</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Количество штрафов</div>
                <div class="report-text">0 шт. (все оплачены)</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Крайний пробег</div>
                <div class="report-text">187305 км</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Реестр утилизации</div>
                <div class="report-text">не числится в утилизации</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Полис ОСАГО</div>
                <div class="report-text">обнаружено 1 запись</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Пройденные техосмотры</div>
                <div class="report-text">4 записи</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Объявления о продаже</div>
                <div class="report-text">нет данных</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Федеральная таможенная служба</div>
                <div class="report-text">проходило таможню</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Отзывные кампании</div>
                <div class="report-text">имеется информация</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Базовая информация</div>
                <div class="report-text">получены все данные</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Электронный ПТС</div>
                <div class="report-text">не имеет</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Рыночная стоимость</div>
                <div class="report-text">262123 — 667040 руб.</div>
                </div>
            </div>
            <div class="report-info__item-wrap">
                <div class="report-info__item-circle"></div>
                <div class="report-info__item">
                  <div class="report-point">Дополнительные фото</div>
                <div class="report-text">найдено 17 фото</div>
                </div>
            </div>
        </div>
    </div>
</section>