.reports-carousel {
  padding: 2.8rem 0;
  background: #fff;

  .reports-carousel__wrapper {
    display: flex;
    gap: 2.9rem;
  }

  .reports-carousel__title-block {
    width: 11.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    .reports-carousel__title {
      color: #282828FF;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: -0.04rem;
      text-align: right;
      width: 6.5rem;
    }

    .reports-carousel__point {
      background: radial-gradient(50.00% 50.00% at 50% 50%, rgba(239.06, 80.45, 80.45, 0), rgba(239.06, 80.45, 80.45, 0) 34%, rgba(239, 80, 80, 0.46) 100%);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.8rem;
      height: 2.8rem;
    }

    .reports-carousel__point::before {
      content: '';
      width: 1rem;
      height: 1rem;
      background: #EF5050FF;
      display: block;
      border-radius: 100%;
    }
  }

  .reports-carousel__items {
    display: flex;
    align-items: center;
    gap: 1.7rem;

    .reports-carousel__item {
      border-radius: 1.1rem;
      background: #E8F3F9;
      width: 27.7rem;
      padding: 1.7rem 2.1rem;

      .reports-carousel__name {
        color: #000000FF;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.6rem;
        letter-spacing: -0.04rem;
      }
      .reports-carousel__number {
        color: #A7A7A7FF;
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: -0.04rem;
      }
    }
  }
}

@include media('max', 'm') {
  .reports-carousel {
    padding: 1.4rem 0;

    .reports-carousel__wrapper {
      gap: 2rem;
    }

    .reports-carousel__title-block {
      width: 5rem;
      align-items: flex-start;
      justify-content: center;
      gap: 0.5rem;
      flex-direction: column-reverse;

      .reports-carousel__title {
        font-size: 1.3rem;
        line-height: 1.6rem;
        text-align: left;
        width: 100%;
      }

      .reports-carousel__point {
        width: 2rem;
        height: 2rem;
      }
    }

    .reports-carousel__items {
      gap: 0.9rem;

      .reports-carousel__item {
        width: 22.6rem;
      }
    }
  }
}