<section class="reports-carousel">
    <div class="container">
        <div class="reports-carousel__wrapper">
            <div class="reports-carousel__title-block">
                <div class="reports-carousel__title">Свежие отчеты</div>
                <div class="reports-carousel__point"></div>
            </div>
            <div class="reports-carousel__items">
                <div class="reports-carousel__item">
                    <div class="reports-carousel__name">Volkswagen Tiguan, 2013 г.</div>
                    <div class="reports-carousel__number">XWEPH81ABJ0******</div>
                </div>
                <div class="reports-carousel__item">
                    <div class="reports-carousel__name">Volkswagen Tiguan, 2013 г.</div>
                    <div class="reports-carousel__number">XWEPH81ABJ0******</div>
                </div>
                <div class="reports-carousel__item">
                    <div class="reports-carousel__name">Volkswagen Tiguan, 2013 г.</div>
                    <div class="reports-carousel__number">XWEPH81ABJ0******</div>
                </div>
                <div class="reports-carousel__item">
                    <div class="reports-carousel__name">Volkswagen Tiguan, 2013 г.</div>
                    <div class="reports-carousel__number">XWEPH81ABJ0******</div>
                </div>
                <div class="reports-carousel__item">
                    <div class="reports-carousel__name">Volkswagen Tiguan, 2013 г.</div>
                    <div class="reports-carousel__number">XWEPH81ABJ0******</div>
                </div>
                <div class="reports-carousel__item">
                    <div class="reports-carousel__name">Volkswagen Tiguan, 2013 г.</div>
                    <div class="reports-carousel__number">XWEPH81ABJ0******</div>
                </div>
            </div>
        </div>
    </div>
</section>