<section class="report-head">
    <div class="container">
        <div class="report-head__wrapper">
            <div class="report-head__title-block">
                <div class="report-head__subtitle">Ateka.pro - Полная проверка автомобиля перед покупкой</div>
                <div class="report-head__title">Отчёт по номеру: <span class="report-head__number">М219ОТ136М219ОТ136М2</span></div>
            </div>
            <div class="report-head__qr" style="background-image: url('./img/qr.png')"></div>
        </div>
    </div>
    <div class="report-head__photo" style="background-image: url('./img/photo.png')"></div>
</section>