<section class="info-blog">
    <div class="container">
        <div class="info-blog__wrapper">
            <div class="info-blog__item">
                <div class="info-blog__pic" style="background-image: url('./img/info-blog/1.webp')"></div>
                <div class="info-blog__text-block">
                    <div class="info-blog__title">Этапы проверки автомобиля б/у перед покупкой</div>
                    <div class="info-blog__text">Любой подержанный автомобиль, как бы привлекательно он не выглядел
                        внешне,
                        должен подвергаться тщательной проверке. Это позволит в будущем при эксплуатации избежать
                        всевозможных проблем. Поэтому разберем основные этапы.
                    </div>
                    @@include('../date/date.html', {"date-text":"01.12.2024",})
                </div>
            </div>
            <div class="info-blog__item">
                <div class="info-blog__pic" style="background-image: url('./img/info-blog/2.webp')"></div>
                <div class="info-blog__text-block">
                    <div class="info-blog__title">Проверка на скрученный пробег</div>
                    <div class="info-blog__text">Скрученный пробег означает, что реальное количество пройденных
                        километров
                        автомобилем было снижено.
                    </div>
                    @@include('../date/date.html', {"date-text":"01.12.2024",})
                </div>
            </div>
            <div class="info-blog__item">
                <div class="info-blog__pic" style="background-image: url('./img/info-blog/3.webp')"></div>
                <div class="info-blog__text-block">
                    <div class="info-blog__title">Что такое Vin-код и его расшифровка</div>
                    <div class="info-blog__text">Под ВИН-кодом автомобиля подразумевается номер идентификации
                        транспортного
                        средства. Он выполняет функцию уникального идентификатора для каждого автомобиля и используется
                        при.
                    </div>
                    @@include('../date/date.html', {"date-text":"01.12.2024",})
                </div>
            </div>
            <div class="info-blog__item">
                <div class="info-blog__pic" style="background-image: url('./img/info-blog/4.webp')"></div>
                <div class="info-blog__text-block">
                    <div class="info-blog__title">Этапы проверки автомобиля б/у перед покупкой</div>
                    <div class="info-blog__text">Любой подержанный автомобиль, как бы привлекательно он не выглядел
                        внешне,
                        должен подвергаться тщательной проверке. Это позволит в будущем при эксплуатации избежать
                        всевозможных проблем. Поэтому разберем основные этапы.
                    </div>
                    @@include('../date/date.html', {"date-text":"01.12.2024",})
                </div>
            </div>
        </div>
    </div>
</section>