<section class="reports-selection">
    <div class="container">
        <div class="reports-selection__layout">
            <div class="reports-selection__menu">
                <div class="reports-selection__menu-item">
                    <div class="reports-selection__menu-icon">
                        <svg aria-hidden="true">
                            <use xlink:href="img/sprite.svg#sprite--tab-icons--info"></use>
                        </svg>
                    </div>
                    <span class="reports-selection__menu-text">Обзор общей информации</span>
                </div>

                <div class="reports-selection__menu-item reports-selection__menu-item_active">
                    <div class="reports-selection__menu-icon">
                        <svg aria-hidden="true">
                            <use xlink:href="img/sprite.svg#sprite--tab-icons--fssp"></use>
                        </svg>
                    </div>
                    <span class="reports-selection__menu-text">Долги по ФССП</span>
                </div>

                <div class="reports-selection__menu-item">
                    <div class="reports-selection__menu-icon">
                        <svg aria-hidden="true">
                            <use xlink:href="img/sprite.svg#sprite--tab-icons--fns"></use>
                        </svg>
                    </div>
                    <span class="reports-selection__menu-text">Долги по ФНС</span>
                </div>

                <div class="reports-selection__menu-item">
                    <div class="reports-selection__menu-icon">
                        <svg aria-hidden="true">
                            <use xlink:href="img/sprite.svg#sprite--tab-icons--gibdd"></use>
                        </svg>
                    </div>
                    <span class="reports-selection__menu-text">Штрафы <br> ГИБДД РФ</span>
                </div>

                <div class="reports-selection__menu-item">
                    <div class="reports-selection__menu-icon">
                        <svg aria-hidden="true">
                            <use xlink:href="img/sprite.svg#sprite--tab-icons--post"></use>
                        </svg>
                    </div>
                    <span class="reports-selection__menu-text">Посылки и отправления</span>
                </div>

                <div class="reports-selection__menu-item">
                    <div class="reports-selection__menu-icon">
                        <svg aria-hidden="true">
                            <use xlink:href="img/sprite.svg#sprite--tab-icons--schedule"></use>
                        </svg>
                    </div>
                    <span class="reports-selection__menu-text">Расписания и маршруты</span>
                </div>
            </div>

            <div class="reports-selection__content">
                <div class="reports-selection__status-card">
                    <div class="reports-selection__status-image reports-selection__status-image_found"></div>
                    <div class="reports-selection__status-text">
                        <h2 class="reports-selection__status-title">Новых записей не найдено</h2>
                        <p class="reports-selection__status-subtitle">Проверка по записям в базах еще не проводилась</p>
                    </div>
                </div>

<!--                <div class="reports-selection__stats">-->
<!--                    <article class="reports-selection__stat-card">-->
<!--                        <div class="reports-selection__stat-image reports-selection__stat-image_fssp"></div>-->
<!--                        <div class="reports-selection__stat-body reports-selection__stat-body_found">-->
<!--                            <p class="reports-selection__stat-title">Долги по ФССП</p>-->
<!--                            <p class="reports-selection__stat-value">99+</p>-->
<!--                        </div>-->
<!--                    </article>-->

<!--                    <article class="reports-selection__stat-card">-->
<!--                        <div class="reports-selection__stat-image reports-selection__stat-image_fns"></div>-->
<!--                        <div class="reports-selection__stat-body">-->
<!--                            <p class="reports-selection__stat-title">Долги по ФНС</p>-->
<!--                            <p class="reports-selection__stat-value">0</p>-->
<!--                        </div>-->
<!--                    </article>-->

<!--                    <article class="reports-selection__stat-card">-->
<!--                        <div class="reports-selection__stat-image reports-selection__stat-image_gibdd"></div>-->
<!--                        <div class="reports-selection__stat-body">-->
<!--                            <p class="reports-selection__stat-title">Штрафы ГИБДД</p>-->
<!--                            <p class="reports-selection__stat-value">0</p>-->
<!--                        </div>-->
<!--                    </article>-->

<!--                    <article class="reports-selection__stat-card">-->
<!--                        <div class="reports-selection__stat-image reports-selection__stat-image_post"></div>-->
<!--                        <div class="reports-selection__stat-body">-->
<!--                            <p class="reports-selection__stat-title">Посылки и отправления</p>-->
<!--                            <p class="reports-selection__stat-value">0</p>-->
<!--                        </div>-->
<!--                    </article>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</section>
